.task {
    outline: 1px solid black;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.5rem;

    .taskName {
        cursor: pointer;
    }

    h6{
        text-align: justify;
        margin: 0;
        padding-bottom: 0.5rem;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        font-size: 1rem;
    }
}